.Cart {
  margin: 30px 240px 100px;
  color: #747474;
  position: relative;

  .middleRow {
    border-radius: 15px;
    .mainTitle {
      font-size: 24px;
      font-weight: 700;
      color: white;
      display: flex;
      padding: 25px;
      letter-spacing: 4px;
      background-color: #ffc715;
      border-radius: 15px 15px 0 0;
    }
    .bottomColumn {
      display: flex;
      border: 1px solid #e7e7e9;
      border-top: none;
      border-radius: 0 0 15px 15px;
      padding: 60px 40px;

      .mainColumn {
        display: flex;
        width: 60%;
        border-right: 1px solid #e7e7e9;
        padding: 0 30px 0 0;

        .subSection {
          display: flex;
          margin-bottom: 30px;
          .subTitle {
            display: flex;
            font-size: 20px;
            font-weight: 500;
            width: 100px;
            align-items: center;
            margin-right: 30px;
          }
          .subDescription {
            display: flex;
            font-size: 20px;
            font-weight: 500;
            width: 100px;
            margin-right: 30px;
          }
          .subInput {
            width: 100%;
            font-size: 18px;
            border: 3px solid #e7e7e9;
            border-radius: 8px;
            padding: 10px 15px;
          }
          .subValue {
            width: 100%;
            line-height: 1.8em;
          }
          .subSelect {
            color: #747474;
            appearance: none;
            // outline: none;
            outline-color: #ffc715;
            -moz-appearance: none;
            -webkit-appearance: none;
            width: 100%;
            border: 3px solid #e7e7e9;
            border-radius: 8px;
            padding: 10px 15px;
            background-image: url(../../../../images/arrowdown.png);
            background-position: right 0.5em top 50%, 0 0;
            background-size: contain, cover;
            background-repeat: no-repeat, repeat;
          }
          .cartAddSection {
            display: flex;
            justify-content: space-between;
            p {
              display: flex;
              margin: 0;
            }
            .cartAddButton {
              display: flex;
            }
            button {
              border: 0;
              background-color: white;
              margin-left: 10px;
            }
          }
        }
      }
      .totalColumn {
        margin: 0 1% 0 2%;
        padding: 2%;
        width: 40%;
        border: 5px solid #f0ede0;
        border-radius: 15px;
        height: 100%;
        .title {
          font-weight: 500;
        }
        .totalName {
          border-bottom: 1px solid #e7e7e9;
        }
        .totalCate {
          margin-top: 3%;
          border-bottom: 1px solid #e7e7e9;
          p {
            font-size: 16px;
          }
          .title {
            font-weight: 500;
            font-size: 20px;
          }
          .subTotal {
            display: flex;
            justify-content: space-between;
          }
        }
        .totalDiscount {
          margin-top: 3%;
          border-bottom: 1px solid #e7e7e9;
          display: flex;
          justify-content: space-between;
          font-size: 16px;
          .totalDiscountNumber {
            width: 100px;
            display: flex;
            flex-direction: row-reverse;
            border-left: 1px solid #e7e7e9;
          }
        }
        .totalNumber {
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          margin-top: 3%;
          color: #ef7a70;
        }
      }
    }
  }

  .bottomRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -61px;
    right: calc(50% - 110px);
    button {
      width: 220px;
      color: white;
      padding: 15px 20px;
      border-radius: 15px;
      border: none;
      background-color: #2da9d7;
    }
    p {
      font-size: 16px;
      text-decoration: underline;
      margin: 5px;
      color: #747474;
    }
  }
}
@media screen and (max-width: 375px) {
  .Cart {
    margin: 120px 20px 100px;

    .middleRow {
      width: 100%;
      .bottomColumn {
        flex-direction: column;
        padding: 30px 20px;

        .mainColumn {
          border-right: none;
          width: 100%;
        padding: 0;

          .subSection {
            flex-direction: column;
            .subTitle {
            font-size: 16px;

              width: 100%;
              margin-bottom: 5px;
            }
            .subDescription {
              width: 100%;
              font-size: 16px;
              margin-bottom: 5px;
            }
            .subValue{
              font-size: 14px;
            }
            .subInput{
            border: 3px solid #e7e7e9;
            padding: 10px 10px;
            font-size: 14px;
              
            }
            .subSelect{
              font-size: 14px;
            }
          }
        }
        .totalColumn{
          width: 100%;
        margin: 0;
        padding: 0 10px;
          .totalCate{
            .title{
              font-size: 16px;
            }
            .p{
              font-size: 14px;
            }
            .subTotal{
              p{
                font-size: 14px;
              }
            }
          }
          .totalDiscount{
            .totalDiscountNumber{
              border: none;
            }
          }
          .totalNumber{
          font-size: 18px;

          }
        }
      }
      .mainTitle {
        font-size: 18px;
        padding: 15px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
