.orderButton {
    margin-top: -50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .nextBnt {
        width: 180px;
        font-size: 20px;
        color: white;
        padding: 15px 20px;
        border-radius: 15px;
        border: none;
        background-color: #2da9d7;
    }
    .prevBnt {
        border: 0;
        background-color: white;
        font-size: 14px;
        text-decoration: underline;
        margin: 5px;
        color: #747474;
    }
}
