.Payment {
  // max-width: 1280px;
  // width: 100%;
  margin: 30px 240px 100px;
  color: #747474;
  position: relative;

  .topRow {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 30px;
    .step1 {
      margin-right: 5%;
    }
    .step2 {
      margin-right: 5%;
    }
  }

  .middleRow {
    border-radius: 15px;
    .mainTitle {
      font-size: 20px;
      font-weight: 700;
      color: white;
      display: flex;
      padding: 25px;
      letter-spacing: 4px;
      background-color: #ffc715;
      border-radius: 15px 15px 0 0;
    }
    .bottomColumn {
      display: flex;
      border: 1px solid #e7e7e9;
      border-top: none;
      border-radius: 0 0 15px 15px;
      padding: 60px 40px;

      .mainColumn {
        display: flex;
        width: 60%;
        border-right: 1px solid #e7e7e9;
        padding: 0 30px 0 0;

        section {
          padding-bottom: 10px;
          margin-bottom: 25px;
          border-bottom: 1px solid #e7e7e9;
          p {
            font-weight: 500;
            font-size: 20px;
          }
        }

        .subSection {
          display: flex;
          margin-bottom: 5px;

          input {
            caret-color: #747474;
            border: 3px solid #e7e7e9;
            border-radius: 8px;
            outline-color: #ffc715;
            width: 100%;
            padding: 5px;
            margin-bottom: 5px;
          }
          .subTitle {
            display: flex;
            width: 100px;
            font-size: 18px;

            align-items: center;
            margin-right: 30px;
          }
          .subDescription {
            display: flex;
            width: 100px;
            margin-right: 30px;
          }
          .subInput {
            width: 100%;
            border: 3px solid #e7e7e9;
            font-size: 18px;

            border-radius: 8px;
            padding: 5px 15px;
          }
          .subValue {
            width: 100%;
            line-height: 1.8em;
          }
        }
      }

      .totalColumn {
        margin: 0 1% 0 2%;
        padding: 2%;
        width: 40%;
        border: 5px solid #f0ede0;
        border-radius: 15px;
        height: 100%;
        .title {
          font-weight: 500;
          font-size: 18px;
        }
        .totalName {
          border-bottom: 1px solid #e7e7e9;
        }
        .totalCate {
          margin-top: 3%;
          border-bottom: 1px solid #e7e7e9;
          p {
            font-size: 16px;
          }
          .title {
            font-weight: 500;
            font-size: 18px;
          }
          .subTotal {
            display: flex;
            justify-content: space-between;
          }
        }
        .totalDiscount {
          margin-top: 3%;
          border-bottom: 1px solid #e7e7e9;
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          .totalDiscountNumber {
            width: 100px;
            display: flex;
            font-size: 16px;

            flex-direction: row-reverse;
            border-left: 1px solid #e7e7e9;
          }
        }
        .totalNumber {
          display: flex;
          justify-content: space-between;
          font-size: 18px;
          margin-top: 3%;
          color: #ef7a70;
        }
      }
    }
  }
  .receiptSection {
    display: flex;
    margin: 20px 0;
  }
  .radioInput {
    display: flex;
    font-size: 18px;

    margin-left: 5px;
  }
  .paymentCCard {
    width: 100%;
    height: 220px;
    display: flex;
    padding: 2% 3%;
    border-radius: 15px;
    background-color: #feefc356;
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    .paymentIcon {
      display: flex;
      margin-bottom: 20px;

      .iconVisa {
        background-image: url(../../../../images/visa.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 40px;
        margin-right: 1px;
      }
      .iconMaster {
        background-image: url(../../../../images/master.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 40px;
        margin-right: 1px;
      }
      .iconJCB {
        background-image: url(../../../../images/jcb.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 50px;
        height: 40px;
        margin-right: 1px;
      }
    }
    .CCardNumber {
      display: flex;
      margin-bottom: 20px;
      div {
        width: 20%;
      }
      input {
        width: 10%;
        margin: 0 5px;
      }
    }
    .CCardGoodThu {
      display: flex;
      margin-bottom: 20px;

      div {
        width: 20%;
      }
    }
    .CCardNumber {
      display: flex;
      div {
        width: 20%;
      }
    }
  }
  .paymentSubSection {
    display: flex;
    span {
      font-size: 18px;
    }
  }

  .iconLinePay {
    background-image: url(../../../../images/LINE_Pay_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 10px 0 5px;
    width: 80px;
    height: 25px;
  }
  .bottomRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -61px;
    right: calc(50% - 110px);
    button {
      width: 220px;
      color: white;
      padding: 15px 20px;
      border-radius: 15px;
      border: none;
      background-color: #2da9d7;
    }
    p {
      font-size: 16px;
      text-decoration: underline;
      margin: 5px;
      color: #747474;
    }
  }
  .receiptContent {
    font-size: 16px;
  }
}
