$line-color--light: #e7e7e9;
$line-color--dark: #747474;
$button-color-hover: #feefc3;
$button-color-remove: #ef7a70;
$main-color: #ffc715;
$list-color: #f0ede0;
$list-color-hover: #f0ede0;

@media screen and (max-width: 768px) {
  .admin_side {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .admin_side {
    display: none;
  }
}

.admin_side {
  margin-top: 40px;
  width: 300px;
  min-width: 150px;
  height: 90%;
  font-size: 20px;
  border-right: 2px solid $line-color--light;
  //會員基本資料
  .profile_bar {
    padding: 10px;
    width: 100%;
    border-bottom: 2px solid $line-color--light;
    padding-bottom: 20px;
    .user_photobox {
      flex-shrink: 0;
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: white;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      label {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 999;
        border-radius: 50px;
      }
      input {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
      }
      svg {
        position: absolute;
        width: 30px;
        height: 30px;
        top: calc(50% + 12px);
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        opacity: 0;
        transition: 0.3s;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #747474;
        opacity: 0;
        transition: 0.3s;
        z-index: 99;
      }
      &:hover {
        div svg {
          opacity: 1;
          top: calc(50%);
          z-index: 500;
        }
        &::after {
          opacity: 0.5;
        }
      }
    }
    .admin_user_name_bar {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .admin_user_name {
        // margin-top: 30px;
        font-size: 18px;
        font-weight: 500;
        width: 180px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        line-height: 15px;
        cursor: default;
        p {
          height: 14px;
        }
      }
      .admin_myfile {
        display: block;
        font-size: 15px;
        color: #747474;
      }
      .settingicon {
        margin-bottom: 3px;
        margin-left: 2px;
      }
    }
  }
  // 會員中心子項目
  .admin_sidemenu {
    padding-top: 20px;
    padding-left: 20px;
    // margin-left: 30px;
    width: 100%;
    li {
      // width: 400px;
      width: 100%;
      .admin_select {
        &:hover {
          background: url('../../../images/admin-hover-background.svg')
            no-repeat;
          background-position: left;
        }
        p {
          font-weight: bold;
        }
        .icon_size {
          font-size: 30px;
          width: 24px;
          margin-right: 10px;
          margin-bottom: 15px;
          // transform: rotate(90deg);
        }
      }
    }
  }
}

// 社群子項目

// .community:hover {
// 	// display: none;
// 	margin-left: 90px;
// 	font-size: 16px;
// }
// .community_child_item {
// 	display: none;
// 	margin-left: 90px;
// 	font-size: 16px;
// }
