
  $line-color--light:#E7E7E9;
  $line-color--dark:#747474;
  $button-color-hover: #FEEFC3;
  $button-color-remove: #ef7a70;
  $main-color:#FFC715;
  $list-color: #F0EDE0;
  $list-color-hover: #F0EDE0;

@media screen and (max-width: 768px) {
  .follower_list {
    /* display:none; */
    width: 600px;
  }
}
@media screen and (max-width: 375px) {
  .follower_list {
    display:block
  }
  .btn {
    width: 50px;
  }

}

// 便簽樣式切換
ul.communityManagementTab {
  border: none;
  margin-top: 50px;
  margin-left: 30px;
  button.nav-link, button.nav-link:hover { 
    border: none;
  }
}
//TODO: Hover 還會有黃色的bottom border 待修改
.tab_text_size{
  font-size: 20px;
}
.tab_claw{
  width: 30px;
}

// 追蹤者管理

 
.follower_list{
  width: 900px;
  .follower_detail {
    height: 700px;
    overflow-y: scroll;
    & li {
    background-color: $list-color;
    margin-top: 10px;
    border-radius: 10px;
    width: 95%;
    height: 150px;
    list-style: none;
    &:hover{
      background-color: darken($list-color,5%);
      transition: .5;
    }
  }
}
  .follower_photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    object-fit:cover; 
    overflow: hidden;
    & img{
      width: 100%;
      height: 100%;
    }
  }
  .follower_user_name {
    font-size: 22px;
    font-weight: 400;
  }
  .follower_description_text{
    font-size: 14px;
    color: $line-color--dark;
    
  }
  .remove_follow{
    background-color: $button-color-remove;
    &:hover:active{
    background-color: $button-color-remove;
    color: white;
    border: none;
    }
    color: white;
    border: none;
    border-radius: 8px;
    
  }
  .follower_checked_detail{
    background-color: $main-color;
    &:hover{
      background-color: $main-color;
      color: white;
      border: none;
    }
    color: white;
    border: none;
    border-radius: 8px;
  }
}
// 貼文管理

.post_list{
  width: 900px;
  // margin-top: 150px;
  border-radius: 10px;
  .post_detail {
    height: 700px;
    overflow-y: scroll;
    & li {
    margin-top: 10px;
    border-bottom: 1px solid $line-color--light;
    border-radius: 8px;
    width: 95%;
    height: 120px;
    list-style: none;
    &:hover{
      background-color:$list-color-hover;
    }
    // background-color: #FEEFC3;
    .post_description {
      padding-bottom: 10px;
     
      .post_title p {
        font-size: 18px;
        font-weight: 500; 
        margin-top: 15px;
      }
      .post_date p{
        font-size: 14px;
        color: $line-color--dark;

      }
      .post_edit_button button{
        width: 80px;
        height: 30px;
        border-radius: 8px;
        background-color: $main-color;
        color: white;
        font-size: 12px;
        margin-right: 8px;
        text-align: center;
        border:none;
        &:hover{
          border:none;
        }
      }
      .post_status{
        color: $line-color--dark;
        font-size: 16px;
      }
    }

  }
}
}