$line-color--light: #e7e7e9;
$line-color--dark: #747474;
$button-color-hover: #feefc3;
$button-color-remove: #ef7a70;
$main-color: #ffc715;
$list-color: #f0ede0;
$list-color-hover: #feefc3;
$link-color: #2da9d7;
$line-color--blue: #d5eeee;

.postStateBar {
  .post_cover_photo {
    object-fit: contain;
    width: 100%;
    img {
      background: #feefc3;
      border-radius: 15px;
      display: flex;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 300px;
    }
  }
  .post_title p {
    width: 100%;
    font-size: 3rem;
    color: $button-color-remove;
    font-weight: bold;
    // height: 120px;
    line-height: 65px;
    text-align: start;
  }
  .post_state_bar {
    height: 30px;
    font-size: 1.25rem;
    .post_auther {
      font-weight: bold;
      .follow_link {
        color: $link-color;
      }
    }

    .post_location {
      color: $button-color-remove;
    }
    // .post_tags p{
    //   // border: 2px solid $link-color;
    //   // border-radius: 8px;
    //   // padding: 0px 5px;
    // }
    // TODO:待確認樣式
    .post_tags {
      display: inline-block;
      color: #2da9d7;
      font-size: 14px;
      font-weight: bold;
      padding: 3px 10px;
      margin-right: 20px;
      border-radius: 4px;
      background-color: #d5eeee;
    }
  }
}
