$line-color--light: #e7e7e9;
$line-color--dark: #747474;
$button-color-hover: #feefc3;
$button-color-remove: #ef7a70;
$main-color: #ffc715;
$list-color: #f0ede0;
$list-color-hover: #feefc3;
$link-color: #2da9d7;
$line-color--blue: #d5eeee;

// 推薦商品區

.recommand_product_list {
  margin-top: 5px;
}
.rec_product_card {
  width: 300px;
  height: 360px;
  border: 2px solid $main-color;
  border-radius: 8px;
  overflow: hidden;
  .product_photo {
    // width: 100%;
    height: 250px;
    object-fit: cover;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .product_title {
    padding: 10px;
    height: 65px;
    font-size: 1.2rem;
    color: $line-color--dark;
    font-weight: 500;
    line-height: 1.4rem;

    p {
      margin: 0px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
  .rec_product_state {
    padding: 0px 10px;
    .rec_product_rank {
      font-size: 1.1rem;
      color: $line-color--dark;
      // font-weight: 600;
      .rank_paws {
        width: 22px;
      }
    }
    .rec_product_price {
      color: $button-color-remove;
      font-size: 1.6rem;
      font-weight: 800;
    }
  }
}
.post__comment_list_title {
  font-size: 1.8rem;
  font-weight: 600;
}
