
  $line-color--light:#E7E7E9;
  $line-color--dark:#747474;
  $button-color-hover: #FEEFC3;
  $button-color-remove: #ef7a70;
  $main-color:#FFC715;
  $list-color: #F0EDE0;
  $list-color-hover: #FEEFC3;



.trip-sample{
  background-color: red;
  position: relative;
  top: calc((100vh - 300px)/2);
  border-radius: 8px ;
  z-index: 3;
  width: 400px;
  height: 150px;
  background-color:white;
}

.close_icon{
  font-size: 1.5rem;
  position: absolute;
  right: 5%;
}