$main-color: #FFC715;
$hightLight-color: #EF7A70;

.admin_main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
} 

.admin_main {
  .admin_main{
    &_content {
      padding: 40px 6px 36px 40px;
      hr {
        margin: 24px 0 ;
        height: 3px;
        border: 0;
        background-color: $main-color;
        border-radius: 50px;
      }
    }
  }
  .tab-content {
    padding-right: 6px;
    padding-bottom: 36px;
  }
  > .d-flex {
    animation: admin-fade-in .2s ease-out 0s 1 forwards;
  }
}


@media screen and (max-width: 768px) {
  .admin_main {
    width:100%;
    .admin_main{
      &_content {
        padding: 36px 20px;
        hr {
          margin: 24px 0 ;
          height: 3px;
          border: 0;
          background-color: $main-color;
          border-radius: 50px;
        }
      }
    }
    .communityManagementTab {
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      button {
        p{
          font-size: 16px;
          color: #333;
        }
      }
    }
  }
}


@keyframes admin-fade-in {
  0% {
    transform: translateX(16px);
  }
  100% {
    transform: translateX(0);
  }
}