// @import '../../styles/_custom_variables.scss';
// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';

$fmain_color: #ffc200; // 主色
$sup_color: #eeb569;
$font-size: 1.2rem;
$second_font-size: 26px;
$font-weight: 700;
$border-radius: 15px;
$box-shadow: 2px 4px 8px grey;
$look_line-height: 53px;

///////////////////
///
// ===== comList_main_search ===== //
.comList_section_main_bg {
  padding-top: 0px;
}

.comList_main_bg {
  max-width: 100%;
  // padding-top: 120px;
}

.comList_main_search {
  height: 180px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: url(../../images/main_search_bg.jpg) bottom/100% no-repeat;
}

.comList_main_search_group {
  // max-width: 460px;
  max-width: 45%;
  // padding-bottom: 250px;
  margin-bottom: 35px;
}

.comList_search_input {
  height: 50px;
}

.comList_search_btn {
  width: 60px;
  svg {
    color: #fff;
  }
}

.comList_main_search_left_dog {
  width: 80px;
  position: absolute;
  top: 22px;
  left: calc(100% - 64%);
}

.comList_main_search_right_dog {
  position: absolute;
  width: 80px;
  top: 27px;
  right: calc(100% - 64%);
}

// === RWD === //
@media (max-width: 768px) {
  comList_section_main_bg {
    padding-top: 40px;
  }

  .comList_main_search {
    height: 120px;
    position: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../../images/main_search_bg.jpg) bottom/100% no-repeat;
  }

  .comList_main_search_group {
    // max-width: 360px;
    max-width: 90%;
    margin-bottom: -20px;
  }

  .comList_search_input {
    height: 40px;
  }

  .comList_main_search_left_dog {
    display: none;
  }

  .comList_main_search_right_dog {
    display: none;
  }
}

////////////////////////////////////

.comList_main_card {
  max-width: 720px;
  overflow: hidden;
}

.comList_main_card_img {
  // border-radius: 8px 0 0 8px;
  width: 100%;
  height: 100%;
}

.comList_main_card_title {
  svg {
    color: #ff002a;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.comList_main_card_placeName_text {
  display: inline-block;
  color: #2da9d7;
  background-color: #d5eeee;
  border-radius: 8px;
  padding: 2px 10px;
}

.comList_main_card_locate_text {
  svg {
    color: #2da9d7;
    width: 1.25rem;
    height: 1.25rem;
  }
}
.comList_main_card_like_text {
  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

// === RWD === //
@media (max-width: 768px) {
  .comList_main_card {
    max-width: 90%;
    // border-radius: 8px;
  }
  .comList_main_card_img {
    // border-radius: 8px 8px 0 0;
    width: 100%;
    height: 100%;
  }
}

// @import '../../styles/_custom_variables.scss';
// @import '../../../node_modules/bootstrap/scss/bootstrap.scss';
