$pink: #EF7A70;
$graycolor: #747474;
$fmain_color: #ffc200; // 主色
$royal-blue: #22C3FF;

%product-filter-title {
  font-size: 20px;
  font-weight: 700;
  color: black;
  // margin: 0;
}

%normal-text {
  font-size: 16px;
  color: $graycolor;
}

.ecProductFilter {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  margin: 1rem auto;

  &_filter_section {
    // flex: auto;
    // display: flex;
  }
}


// 左側篩選欄==========================
.product-filter-left {
  display: inline-block;
  border-right: 1px solid lightgrey;
  margin: 0 1em 0 0;
  padding: 0 .5em;
  margin-bottom: 8px;
}