$main-color: #FFC715;
$second-color: #FEEFC3;
$hightLight-color: #EF7A70;


.home_main {
  .travelSwiper {
    height: 100%;
    padding: 6px;
  }

  .travel_card {
    background-color: #FFF;
    width: 100%;
    height: calc(100% - 24px);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .08);
    .obj-fit {
      height: 160px;
    }
    &_title {
      h5 {
        display: -webkit-box;
        font-size: 18px;
        line-height: 1.35;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
        white-space: normal;
      }
    }
    &_author {
      position: relative;
      padding-left: 20px;
      font-size: 12px;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        width: 16px;
        height: 16px;
        background: url(../../../images/travel_dog_paws.svg) no-repeat center left / 16px;
      }
    }
    &_like {
      font-size: 16px;
      color: $hightLight-color;
      font-weight: bold;
      svg {
        margin-top: -4px;
        margin-left: 6px;
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .home_main {
    .travel_card {
      height: 300px;
      .obj-fit {
        height: 160px;
      }
    }
  }
}