.ec_category {
  max-width: 1280px;
  width: 100%;
  margin: 1rem auto;

  &_main_title {
    font-weight: 700;
  }

  // &_card{

  // }
  &_img {
    // width: 100px;
    height: 100px;
    object-fit: scale-down;
  }

  &_name {
    font-size: 1rem;
    font-weight: 900;
  }
}

// ========== RWD ======== //
@media (max-width: 768px) {
  .ec_category {
    padding: 0 1rem;
    margin: 0 auto;

    &_items {
      margin: 0 1rem 0 0;
    }

    &_card {
      padding-bottom: 1rem;
      overflow-y: hidden;
      // overflow-x: hidden;
    }

    &_img {
      width: 100px;
    }


    .ec_category_img {
      margin: 1rem 1rem auto auto;
      background-color: white;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .ec_category_name {
      padding: 0 1rem 0 0;
    }
  }
}