%input {
  caret-color: #747474;
  border: 3px solid #e7e7e9;
  border-radius: 5px;
  outline-color: #ffc715;
}
.CreateTravel {
  background-image: url(../../../images/home_tour_bg.png);
  height: 600px;
  // width: 100vw;
  position: relative;
  .BGCircle1 {
    position: absolute;
    width: 380px;
    height: 380px;
    background-color: #feefc3;
    opacity: 0.8;
    border-radius: 50%;
    top: 29%;
    left: 25.5%;
    z-index: 1;
  }
  // .BGCircle2 {
  //   position: absolute;
  //   width: 280px;
  //   height: 280px;
  //   background-color: #b0eaff;
  //   opacity: 0.5;
  //   border-radius: 50%;
  //   top: 13rem;
  //   left: 64rem;
  // }
  .BGCircle3 {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #ff9634b5;
    opacity: 0.5;
    border-radius: 50%;
    top: 5rem;
    left: 98rem;
  }
  .BGCircle4 {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #ff8eb0b6;
    opacity: 0.5;
    border-radius: 50%;
    top: 20rem;
    left: 110rem;
  }
  .BGCircle5 {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: #72ceef;
    opacity: 0.6;
    border-radius: 50%;
    top: 26rem;
    left: 14rem;
  }
  .BGCircle6 {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #6dffb1b9;
    opacity: 0.5;
    border-radius: 50%;

    top: 10rem;
    left: 30rem;
  }

  .mainSlogan1 {
    position: absolute;
    top: 14rem;
    left: 59rem;
    font-size: 72px;
    width: 460px;
  }
  .mainSlogan2 {
    position: absolute;
    top: 20rem;
    left: 35rem;
    font-size: 60px;
    width: 500px;
  }
  .slogan {
    position: absolute;
    top: 23rem;
    left: 61rem;
    font-size: 22px;
    margin: 0;
    display: flex;
    align-items: center;
    .FaPaw {
      margin-right: 5px;
      color: #ffc715;
      font-size: 22px;
      margin-left: 5px;
    }
  }
  .SloganImg {
    position: absolute;
    top: 23%;
    left: 29%;
    width: 260px;
    height: auto;
    // transform: scaleX(-1);
    z-index: 2;
  }
  .FormBody {
    position: absolute;
    top: 70%;
    left: 46%;

    .Title {
      font-size: 32px;
      color: #ef7a70;
      font-weight: 500;
      margin: 20px 0;

      .InputGroup {
        margin-right: 20px;
        width: 100%;
        .InputGroupForm {
          margin-right: 20px;

          .inputSection {
          }
        }
        button {
          border: none;
        }
      }
    }
  }
}
