$pink:#EF7A70;
$graycolor: #747474;
$fmain_color: #ffc200; // 主色
$royal-blue:#22C3FF;

%product-filter-title{
  font-size: 20px;
  font-weight: 700;
  color: black;
  // margin: 0;
}

%normal-text{
  font-size: 16px;
  color: $graycolor;
}


.product-searchList{
  margin: 0 240px;
}

// 左側篩選欄==========================
.product-filter-left {
  display: inline-block;
  border-right: 1px solid lightgrey;
  margin: 0 1em 0 0;
	padding: 0 .5em;
  margin-bottom: 8px;
  width: 30%;
  .product-filter-group{
    padding-bottom: 5px;
  }
  .product-category-title{
    @extend  %product-filter-title
  }
  .product-label-active{
    color: #22C3FF;
    font-size: 18px;
    font-weight: 700;
  }

  .pf-checkbox{
    vertical-align: top;
    text-align: left;
    margin-bottom: 8px;
  }
  .product-check-items{
    @extend %normal-text;
  }
}
// 篩選標題&下拉選單
.product-filter-category{
  width: 100%;
  display: flex;
  border-bottom: $fmain_color 1px solid;
  // margin: 1rem 0;
  .product-category-title {
    margin-bottom: 0;
  }
  .product-category-morebtn{
    width: 30px;
    height: 30px;
    border: 1px solid #ffc200;
    background: #ffc200;
    text-align: center;
    color: #fff;
    border-radius:5px 5px 0 0;
    cursor: pointer;
    font-size: 20px;
  }
}

// ==========右右右右右右右右右右右==========
.product-filter-right{
  margin-left: 1rem;
}
// 上方篩選結果
.product-filter-result {
  margin-left:0 ;
  p{
    margin-bottom:0px;
    font-weight: 600;
  }
  .chip{
    color: $royal-blue;
    font-weight: 600;
    cursor: default;
    margin-right: 20px;
    border: $royal-blue 1px solid;
    padding: 3px;
    border-radius: 8px;
  }
  a {
    padding: 0px 5px;
    transition: none;
    white-space: nowrap;
    // display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .clearall{
    background: $royal-blue;
    color: #fff;
    cursor: pointer;
  }
  .delete-chip{

    right: 10px;
    top: 1px;
    color: #999;
    cursor: pointer;
    font-style: normal;
    line-height: 24px;
  }
}

// 排序
.sort-board{
  p{
    margin-bottom:0px;
    font-weight: 600;
  }
  .gap{
  margin: 0 0 0 10px;
  color: #aaa;
  } 
  .sort-selected{
    color: $graycolor;
    font-weight: 700;
  }
}


// Card----------------------
.card{
  border-radius: 15px;
  border: 2px solid $fmain_color;
  margin: 1rem 0;
  .card-title{
    font-weight: 600;
  }
  .card-text{
    @extend %normal-text;
    font-weight:600;
  }
  .product-card-label{
    border-radius: 5px 0 5px 0;
  }
  .product-card-comment{
    color:black
  }
}


.product-card-price{
  font-weight: 700;
  color:$pink;
  font-size: 24px;
  p{
    margin-bottom: 0;
  }
}
.product_main_card{
  overflow: hidden;
}

.product_main_card_img{
  // border-radius: 8px 0 0 8px;
  width: 100%;
  height: 100%;
}

.product_main_card_title{
  p{
    margin-bottom: 0;
  }
  svg{
    color: $pink;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.product_main_card_placeName_text{
  display: inline-block;
  color: #2DA9D7;
  background-color: #D5EEEE;
  border-radius: 8px;
  padding: 2px 10px;
  font-weight: 600;
}


.product_main_card_locate_text{
  p{
    color: black;
    font-weight: 600;
    margin: 0;
  }
  svg{
    color: #2DA9D7;
    width: 1.25rem;
    height: 1.25rem;
  }
}
.product_main_card_like_text{

  svg{
    width: 1.25rem;
    height: 1.25rem;
  }
}
.product_filter_rwd_filter{
  display: none;
}

// 
.product_filter_pages{
  width: 100%;
  margin:0 auto;
  font-size:0;
  text-align:center;
  padding-bottom: 20px;
  svg{
    width: 1.5rem;
    height: 1.5rem;
  }
  button{
    font-size: 1rem;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border:none;
    color:$fmain_color;
    outline:none;
    &:hover{
      background-color: $fmain_color;
      color:#fff;
      cursor: pointer;
      border-radius: 5px;
    }
}

// ========== RWD ======== //
@media (max-width: 768px) {
  .product-searchList{
    margin: auto 12px;
  }
  .product-filter-left{
    display: none;
  }
  .product-filter-right-top{
    display: none;
  }
  .product-filter-right{
    margin-left: 0;
  }

  // 篩選
  .product_filter_rwd_filter{
    display:block;
  }
}