* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

.app {
  margin-top: 120px;
}

  @import './custom_variables';
  @import '../../node_modules/bootstrap/scss/bootstrap.scss';