@import './custom_variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}

body {
  font-family: 'Noto Sans TC', 'Open Sans', sans-serif !important;
}

* {
  scrollbar-width: thin;
  /* Firefox */
}

*::-webkit-scrollbar {
  /* Chrome Safari */
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  /* Chrome Safari */
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  /* Chrome Safari */
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.app {
  margin-top: 94px;
}

.swal2-popup {
  width: auto;
  min-width: 420px;
}

.swal2-container {
  z-index: 9999;
}

.swal2-icon.swal2-success {
  border-color: rgba(255, 194, 0, 0.8);
  color: rgba(255, 194, 0, 0.8);
}

.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: rgba(255, 194, 0, 1);
}

.swal2-icon.swal2-success .swal2-success-ring {
  border: 0.25em solid rgba(255, 194, 0, 0.4);
}

.swal2-styled.swal2-confirm {
  background-color: #ef7a70;
}

.swal2-styled.swal2-cancel:focus,
.swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 0px;
}

.ant-popover {
  z-index: 99999;
  opacity: 0.8;
}

.ant-popover-inner {
  border-radius: 8px;
  color: #d4d4d4;
}

.offcanvas {
  border: none;
  // max-width: 90vw;
}

@media screen and (max-width: 768px) {
  .app {
    margin-top: 80px;
  }
  .swal2-popup {
    width: auto;
    min-width: 260px;
  }

  * {
    scrollbar-width: auto;
    /* Firefox */
  }

  *::-webkit-scrollbar {
    /* Chrome Safari */
    width: 0.2em;
  }

  *::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    /* Chrome Safari */
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb {
    /* Chrome Safari */
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }
}
