@media screen and (max-width: 768px) {
  .follower_list {
    /* display:none; */
    width: 90%;
  }
}
@media screen and (max-width: 375px) {
  .follower_list {
    display: block;
  }
  .btn {
    width: 50px;
  }
}
ul.communityManagementTab {
  margin-top: 50px;
  margin-left: 30px;
}

.tab_text_size {
  font-size: 20px;
}

.tab_claw {
  width: 25px;
  margin-top: 10;
}

.follower_list {
  width: 100%;
}
.follower_list .follower_detail {
  height: 700px;
  overflow-y: scroll;
}
.follower_list .follower_detail li {
  border-bottom: 1px solid #E7E7E9;
  margin-top: 10px;
  border-radius: 10px;
  width: 95%;
  height: 150px;
  list-style: none;
}
.follower_list .follower_detail li:hover {
  background-color: #feefc3;
  transition: 0.5;
}
.follower_list .follower_photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.follower_list .follower_photo img {
  width: 100%;
  height: 100%;
}
.follower_list .follower_user_name {
  font-size: 22px;
  font-weight: 400;
  width: 200px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.follower_list .follower_description_text {
  font-size: 14px;
  color: #747474;
  width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.follower_list .remove_follow {
  background-color: #ef7a70;
  color: white;
  border: none;
  border-radius: 8px;
}
.follower_list .remove_follow:hover {
  background-color: #ef7a70;
  color: white;
  border: none;
}
.follower_list .follower_checked_detail {
  background-color: #FFC715;
  color: white;
  border: none;
  border-radius: 8px;
}
.follower_list .follower_checked_detail:hover {
  background-color: #FFC715;
  color: white;
  border: none;
}

.post_list {
  width: 100%;
  border-radius: 10px;
}
.post_list .post_detail {
  height: 700px;
  overflow-y: scroll;
}
.post_list .post_detail li {
  margin-top: 10px;
  border-bottom: 1px solid #E7E7E9;
  border-radius: 8px;
  width: 95%;
  height: 140px;
  list-style: none;
}
.post_list .post_detail li:hover {
  background-color: #feefc3;
}
.post_list .post_detail li .post_description {
  padding-bottom: 10px;
}
.post_list .post_detail li .post_description .post_title p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
  width: 300px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.post_list .post_detail li .post_description .post_date p {
  font-size: 16px;
  color: #747474;
}
.post_list .post_detail li .post_description .post_status {
  color: #747474;
  font-size: 16px;
}

.post_edit_button button {
  width: 80px;
  height: 35px;
  border-radius: 8px;
  background-color: #FFC715;
  color: white;
  font-size: 14px;
  margin-right: 8px;
  text-align: center;
  border: none;
}
.post_edit_button button:focus {
  border: none;
  color: white;
  background-color: #FFC715;
}
.post_edit_button button:hover {
  border: none;
  color: white;
  background-color: #fbbf00;
}

.post_new_button button {
  width: 120px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
  margin-top: 0px;
  position: absolute;
  right: 0%;
  top: 55px;
  align-items: center;
}
.post_new_button button:hover {
  background-color: #feefc3;
}

.edit_icon {
  margin-right: 5px;
  color: #FFC715;
  font-size: 12px;
}

.follow_post_list {
  width: 100%;
  border-radius: 10px;
}
.follow_post_list .follow_post_detail {
  height: 700px;
  overflow-y: scroll;
}
.follow_post_list .follow_post_detail li {
  margin-top: 15px;
  border-bottom: 1px solid #E7E7E9;
  border-radius: 8px;
  width: 95%;
  height: 60px;
  list-style: none;
}
.follow_post_list .follow_post_detail li:hover {
  background-color: #feefc3;
}

.confirmBox_background {
  position: absolute;
  width: 100%;
  height: calc(100vh + 31px);
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(116, 116, 116, 0.4784313725);
}

.create_post_confirm_box {
  border-radius: 8px;
  position: relative;
  top: calc((100vh - 350px) / 2);
  z-index: 3;
  width: 300px;
  height: 180px;
  background-color: white;
}

.delete_confirm_box {
  position: relative;
  top: calc((100vh - 300px) / 2);
  border-radius: 8px;
  z-index: 3;
  width: 300px;
  height: 120px;
  background-color: white;
}

.delete_follow_box {
  position: relative;
  top: calc((100vh - 300px) / 2);
  border-radius: 8px;
  z-index: 3;
  width: 300px;
  height: 120px;
  background-color: white;
}

.confirm_button {
  margin: 5px;
  width: 120px;
  height: 50px;
  border-radius: 8px;
  background-color: #FFC715;
  color: white;
  font-size: 16px;
  border: none;
}
.confirm_button:hover {
  background-color: #fbbf00;
}

.trip-sample {
  background-color: red;
  position: relative;
  top: calc((100vh - 300px) / 2);
  border-radius: 8px;
  z-index: 3;
  width: 400px;
  height: 150px;
  background-color: white;
}

.close_icon {
  font-size: 1.5rem;
  position: absolute;
  right: 5%;
}/*# sourceMappingURL=CommunityManagement.css.map */