.RWDMasonry {
.RWDMasonryBG {
    // margin: 20px 10px;
    .masonry {
      background-color: #fff6db;
      width: 100%;
      column-count: 2;
      column-gap: 10px;
      border: 10px solid #fff6db;
      .item {
        background-color: #ffffff;

        padding: 10px;
        margin-bottom: 10px;
        display: block;
        border-radius: 15px;

        section {
          padding: 5px;
          height: 100%;
        }
        img {
          border-radius: 15px;
          // object-fit: cover;
          width: 100%;
          // height: 80%;
          height: auto;
        }
        div {
          // background-color: black;
        }
      }
      .allPostTitle {
        display: flex;
        justify-content: space-between;
        margin: 5px 0 3px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        .allPostMainTitle {
          font-size: 14px;
        }
      }
      .allPostLocation {
        color: #ef7a70;
        font-size: 14px;
        font-weight: 500;
      }
      .bottomSection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .LikeSection {
          font-size: 12px;
          display: none;
        }
        .userInfo {
          display: flex;
          align-items: center;
          div {
            background-color: #ccc;
            background-size: cover;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 8px;
          }
          p {
            font-size: 12px;
            margin: 0;
          }
        }
      }
    }
  }
}
