$pink: #ef7a70;
$graycolor: #747474;
$fmain_color: #ffc200; // 主色
$royal-blue: #22c3ff;

%product-filter-title {
  font-size: 20px;
  font-weight: 700;
  color: black;
  // margin: 0;
}

%normal-text {
  font-size: 16px;
  color: $graycolor;
}

.EcEnjoyHomepage_main_bg {
  padding-bottom: 10px;
  background-image: url(../../../images/home_tour_bg.png);
}

.BGCircle1 {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #ff9634b5;
  opacity: 0.5;
  border-radius: 50%;
  top: 25%;
  left: 80%;
}
.BGCircle2 {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #ff9634b5;
  opacity: 0.5;
  border-radius: 50%;
  top: 25%;
  left: 80%;
}
.BGCircle3 {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: #ff9634b5;
  opacity: 0.5;
  border-radius: 50%;
  top: 25%;
  left: 80%;
}