.CommunityList {
  .searchBar_main_search_left_dog {
    width: 80px;
    position: absolute;
    top: 24px;
    left: calc(100% - 64%);
  }

  .searchBar_main_search_right_dog {
    position: absolute;
    width: 80px;
    top: 29px;
    right: calc(100% - 64%);
  }
}
