$pink: #EF7A70;
$graycolor: #747474;
$fmain_color: #ffc200; // 主色
$royal-blue: #22C3FF;

.ecProductFilter {
  %product-filter-title {
    font-size: 20px;
    font-weight: 700;
    color: black;
    // margin: 0;
  }

  %normal-text {
    font-size: 16px;
    color: $graycolor;
  }



  // 
  .product_filter_pages {
    width: 100%;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
    padding-bottom: 20px;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    button {
      font-size: 1rem;
      width: 35px;
      height: 35px;
      background-color: #fff;
      border: none;
      color: $fmain_color;
      outline: none;

      &:hover {
        background-color: $fmain_color;
        color: #363636;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}

// ========== RWD ======== //
@media (max-width: 768px) {
  .ecProductFilter {
    max-width: 345px;
    width: 100%;
    margin: 0 auto;

    .sort-board-rwd {
      display: block;
      max-width: 345px;
      width: 100%;
      margin: 0 auto;
    }

    .product-searchList {
      margin: auto 12px;
    }

    .product-filter-left {
      display: none;
    }

    .product-filter-right-top {
      display: none;
    }

    .product-filter-right {
      margin-left: 0;
    }

    // 篩選
    .sort-board {
      p {
        display: none;
      }

      .sort-selected {
        display: none;
      }

      .gap {
        display: none;

      }

      span {
        display: none;
      }
    }

    // 篩選結果card

    .card {
      max-width: 345px;
      margin: 0 auto;
      margin-bottom: 1rem;
      height: 375px;

      .product_main_card_title {
        h5 {
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .sort-board {
        display: none
      }

      .product_main_card_img--box {
        height: 170px;
      }

      .product_main_card_locate_text {
        display: none;
      }

      .product_main_card_tag {
        display: none;
      }

      .card_content {
        height: 77px;
      }

      .card-body {
        .card_content {
          height: 115px;

        }
      }
    }
  }

  // 篩選
  .product_filter_rwd_filter {
    display: block;
  }
}