.voucher_exchange_card--global {
  position: relative;
  overflow: hidden;
  h2 {
    font-weight: bold;
  }
  .voucher_exchange_card {
    &_content {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      top: 0px;
      left: 0px;
      width: 100%;
      padding: 0 8px;
      margin-top: .6em;
      gap: 8px;
      transition: .3s ease-out;
    }

    &_form {
      display: flex;
      flex-direction: column;
      input.error {
      }
      
      p{
        display: none;
        &.active {
          display: block;
          font-size: 16px;
          color: red;
          font-weight: bold;
        }
      }
      .input-group {
        max-width: 260px;
        width: 100%;
        button {
          line-height: 1px;
          background-color: #fff;
          color: #747474;
          border: 1px solid rgb(218, 218, 218);
          transition: .3s linear;
          &:hover {
            background-color: rgb(218, 218, 218);
          }
          &:active {
            border: 1px solid rgb(190, 190, 190);
            background-color: rgb(190, 190, 190);
            color: #fff;
          }
        }
      }
    }
    &_button  {
      padding: 8px 16px;
      border-radius: 8px;
      border: 0;
      background-color: rgba(255, 194, 0, 1);
      color: #FFF;
      font-weight: bold;
    }
  }
}

@keyframes inputError {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90%{
    transform: translateX(-2px);
  }
  20%, 40%, 60%, 80%{
    transform: translateX(2px);
  }
}