$fmain_color: #ffc200; // 主色
$sup_color: #eeb569; //副色
$font-size: 1.2rem;
$second_font-size: 26px;
$font-weight: 700;
$border-radius: 15px;
$box-shadow: 2px 4px 8px grey;
$look_line-height: 53px;
/////////////////// 自訂顏色 大小
.travel_container {
  padding-top: 20px;
  min-height: 100vh;
}
.travel_Nav {
  width: calc(100% - 10px);
  font-size: $font-size;
  font-weight: $font-weight;
}
.travel_Mytrip {
  position: relative;
}

.travel_doglogo {
  display: inline-block;
  width: auto;
  height: 30px;
}
.travel_nav_mytrip {
  width: auto;
  height: calc(30px - 1px);
}
.travel_Tab_Swiper-wrapper {
  height: 450px;
}

.travel_Tab_Img {
  width: 408px;
  height: 265px;
}
.travel_Tab_Link {
  overflow: hidden;
  border: 1px solid #f5f5f5;
  border-bottom: 5px solid #f5f5f5;
  box-shadow: 4px 5px 6px rgb(0 0 0 / 10%);
}
.travel_Tab_tittleDiv {
  width: 300px;
}
.travel_Tab_tittleName {
  font-weight: $font-weight;
  font-style: normal;
  font-size: 32px;
  line-height: 83px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.travel_Tab_tittleDate {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: $font-weight;
  font-size: 20px;
  line-height: 12px;
  color: #747474;
}
.travel_form_creat_tittle {
  font-weight: $font-weight;
  font-style: normal;
}
.travel_form_Container {
  margin-top: 4rem;
  width: 100%;
  .form-control {
    padding: 0 4rem;
  }

  .travel_input_searchBar_sum {
    width: 550px;
  }
  .travel_input_Allinput {
    justify-content: center;
    margin-top: 38px;
    width: 100%;
  }
  .travel_input_Allinput .travel_input_button {
    border-radius: 5px;
    border: none;
    font-weight: $font-weight;
    font-size: $font-size;
    background-color: $fmain_color;
    color: white;
    width: 100px;
    &:hover {
      background-color: $sup_color;
      font-weight: $font-weight;
      font-size: $font-size;
    }
  }
  .travel_input_icondiv {
    width: 0px;
    height: 10px;
  }
  .travel_input_mapicon {
    position: relative;
    width: 25px;
    height: 22px;
    margin-top: 13px;
    margin-left: 15px;
  }
  .travel_input_Area {
    height: 3rem;
  }
  .travel_input_searchBar {
    margin-top: 3.8rem;
  }
}
.travel_goPlay_tittle {
  margin-top: 4rem;
  font-weight: $font-weight;
  font-style: normal;
}
.travel_goPlay_ul {
  padding-left: 0px;
}
.travel_goPlay_collection_AllDiv {
  margin-top: 3rem;
}
.travel_goPlay_collection_img {
  width: 350px;
  height: 205px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
.travel_goPlay_collection_title {
  color: white;
  font-size: $second_font-size;
  font-weight: $font-weight;
}
.travel_goPlay_collection_tittleDiv {
  position: relative;
  top: -50px;
  left: 5px;
  z-index: 10;
}

.travel_Swiper_EveryOnetrip_lookH2 {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: $font-weight;
  font-size: 32px;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.travel_Tab_Swiper {
  width: 410px !important;
  height: 420px;
}
.travel_Swiper_goPlay_Swiper {
  width: 360px !important;
}
.travel_Swiper_EveryOnetrip {
  width: 410px !important;
  height: 420px;
}
.travel_Swiper_EveryOnetrip_Img {
  width: 395.5px;
  height: 265px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}
.travel_Swiper_EveryOnetrip_tittle_div {
  width: 220px;
}
.travel_Swiper_EveryOnetrip_tittle {
  font-weight: $font-weight;
  font-style: normal;
  font-size: $second_font-size;
  line-height: $look_line-height;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.travel_Swiper_EveryOnetrip_day {
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: $look_line-height;
}
.travel_Swiper_EveryOnetrip_userImage {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}
.travel_Swiper_EveryOnetrip_username {
  font-weight: $font-weight;
  font-size: $second_font-size;
  line-height: 23px;
}

.travel_Swiper_EveryOnetrip_follow {
  color: #2da9d7;
  cursor: pointer;
  line-height: 42px;
  font-style: normal;
  font-family: 'Inknut Antiqua';
  font-size: $second_font-size;
  font-weight: 400;
}
.travel_Swiper_EveryOnetrip_date {
  font-weight: $font-weight;
  font-size: $font-size;
}

.travel_Swiper_EveryOnetrip_AllSwiper {
  height: 600px;
}
//////////////////////////////////RWD

@media screen and (max-width: 768px) {
  .travel_Tab_Swiper-wrapper {
    .travel_Tab_Swiper {
      width: 350px !important;
      height: 420px;
    }
  }
  .travel_form_Container {
    margin-top: 2rem;
    .travel_input_searchBar {
      margin-top: 0.5rem;
    }
    .travel_input_Allinput {
      margin-top: 1px;
    }
    .travel_input_searchBar_sum {
      margin: 1rem 0;
      height: 50px;
    }
    .travel_input_Allinput .travel_input_button {
      margin-top: 10px;
    }
  }
  .travel_Swiper_EveryOnetrip_lookH2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .travel_goPlay_tittle {
    margin-top: 2rem;
  }
  .travel_goPlay_collection_AllDiv {
    margin-top: 1.5rem;
  }
  .travel_Swiper_EveryOnetrip_AllSwiper {
    height: 520px;

    .travel_Swiper_EveryOnetrip_Img {
      width: 340px;
      height: 265px;
    }
    .travel_Swiper_EveryOnetrip {
      width: 340px !important;
      height: 300px;
      .travel_Swiper_EveryOnetrip_username {
        padding: 0 0.5rem;
      }
    }
  }
}
