$main_color: #ffc715;
$sup_color: #eeb569;
$icon_color: #ef7a70;
$font-size: 1.2rem;
$font-weight: 700;

// google map searchbar的css  別刪除!
[data-reach-combobox-popover] {
  position: absolute !important;
  width: 875.609px !important;
  left: 820px !important;
  top: 225.516px !important;
  background-color: white !important;
  cursor: pointer !important;
  list-style: none !important;
}

//
.travelmap_coboboxBody {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15px;
  left: -1px;
  bottom: 1px;
  z-index: 1;
  width: 820px;
  transition: 0.1s ease-in;
  animation: wrapper-gradient 0.1s linear;

  @keyframes wrapper-gradient {
    0% {
      transform: translateY(-20%);
    }

    100% {
      transform: translateY(0);
    }
  }

  input:focus {
    outline: none;
  }

  .travel_input_searchBar_sum {
    width: 961px;
    border-radius: 8px;

    .travelmap_combobox-input {
      width: 100%;
      padding: 0.8rem;
      border: 3px solid #ffc715;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .travelmap_input_icondiv {
    position: absolute;
    padding-top: 5px;
    width: 0px;
    height: 10px;
    z-index: 1;
    padding-left: 6px;
  }
}

.travelmap_SearchBtn {
  // position: relative;
  // right: 1px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  font-weight: $font-weight;
  font-size: $font-size;
  background-color: $main_color;
  color: white;
  width: 90px;

  &:hover {
    background-color: $sup_color;
    font-weight: $font-weight;
    font-size: $font-size;
  }
}

.travelSearchBar_photo {
  // margin-left: 80px;
  margin-right: 60px;
  margin-top: 5px;
  width: 160px;
  height: 100px;
  cursor: pointer;
}

.travelSearchBar_Wrap {
  // display: none;
  position: relative;
  top: 10px;
  z-index: 2;
  margin: 10px 10px;
  width: 845px;
  height: 150px;
  border: 1px solid #ccc;

  .travelSearchBar_Card {
    cursor: pointer;
    height: 110px;
    margin: 0px 3rem;
    width: 600px;
  }

  .travelSearchBar_CardTittle {
    margin-top: 40px;
    font-weight: 700;
    font-size: 1.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.searchBAR_IconBack {
  display: none;
}

.travelSearch_storedetail {
  position: relative;
  transition: 0.3s ease-out;
  animation: travelDetail_fadeIn 0.5s ease-out 0s 1 forwards;

  @keyframes travelDetail_fadeIn {
    0% {
      opacity: 0;
      right: calc(100% + 20px);
    }

    100% {
      right: 0%;
      opacity: 1;
    }
  }

  margin-top: 10px;
  margin-left: 10px;
  width: 500px;

  .travelSearchBar_backIcon {
    cursor: pointer;

    svg {
      width: 35px;
      height: 35px;
    }
  }

  .travelSearch_storedetail_Div {
    width: 300px;

    .travelSearch_storedetail_tittle {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      top: 20px;
      left: 35px;
      font-size: 24px;
      font-weight: 600;
    }
  }

  .travelSearch_storedetail_card {
    padding: 10px 10px;
    height: 605px;

    .travelSearch_storedetail_Div {
      position: relative;
    }

    .travelSearch_storedetail_photo {
      // margin-left: 30px;
      border-radius: 8px;
      margin-top: -1px;
      width: 420px;
      height: 200px;
      // cursor: pointer;
      // position: absolute;
      // right: -40px;
    }
  }

  .travelSearch_storedetail_contain {
    width: 220px;
    line-height: 2;
    font-size: 18px;
    font-weight: 500;

    .travelSearch_storedetail_starTime {
      position: relative;
      left: 5px;
      list-style: none;
      // margin: auto 20px;
      // word-spacing: 10px;
    }
  }

  .travelSearch_storedetail_phone {
    position: relative;
    right: 58px;
    top: 15px;
    font-size: 20px;
    text-align: center;
    padding-right: 120px;

    svg {
      color: $icon_color;
    }
  }

  .travelmap_input_button {
    position: relative;
    // margin-top: 20px;
    height: 3.2rem;
    left: 336px;
    bottom: 45px;
    border-radius: 8px;
    border: none;
    font-weight: $font-weight;
    font-size: $font-size;
    background-color: $main_color;
    color: white;
    width: 120px;

    &:hover {
      background-color: $sup_color;
      font-weight: $font-weight;
      font-size: $font-size;
    }
  }

  .travelmap_input_selectDay {
    position: relative;
    left: 336px;
    bottom: 250px;
    margin-bottom: 20px;
  }
}
