$main_color: #ffc715;
$sup_color: #eeb569;
$font-size: 1.2rem;
$font-weight: 700;
.travelmap_coboboxBody {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 1px;
  z-index: 1;
  width: 820px;
  transition: 0.5s ease-in;
  animation: wrapper-gradient 0.3s linear;
  @keyframes wrapper-gradient {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  input:focus {
    outline: none;
  }
  .travel_input_searchBar_sum {
    position: relative;
    left: 5px;
    width: 850px;
    border-radius: 8px;
    .travelmap_combobox-input {
      width: 100%;
      padding: 0.5rem 2rem;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border: none;
    }
  }

  .travelmap_input_icondiv {
    position: absolute;
    padding-top: 5px;
    width: 0px;
    height: 10px;
    z-index: 1;
    padding-left: 6px;
  }
}

.travelmap_SearchBtn {
  // position: relative;
  // right: 1px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  font-weight: $font-weight;
  font-size: $font-size;
  background-color: $main_color;
  color: white;
  width: 90px;
  &:hover {
    background-color: $sup_color;
    font-weight: $font-weight;
    font-size: $font-size;
  }
}
.travelSearchBar_photo {
  margin-left: 120px;
  margin-top: 5px;
  width: 160px;
  height: 100px;
}
.TravelSearchBar_Wrap {
  // display: none;
  position: relative;
  top: 100px;
  opacity: 0.8;
  z-index: 2;
  margin: 10px 10px;
  width: 845px;
  height: 150px;
  border: 1px solid #ccc;
  .TravelSearchBar_Card {
    height: 110px;
    margin: 0px 3rem;
    width: 280px;
  }
  .TravelSearchBar_CardTittle {
    margin-top: 40px;
    font-weight: 700;
    font-size: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
