
  $line-color--light:#E7E7E9;
  $line-color--dark:#747474;
  $button-color-hover: #FEEFC3;
  $button-color-remove: #ef7a70;
  $main-color:#FFC715;
  $list-color: #F0EDE0;
  $list-color-hover: #FEEFC3;
  $link-color:#2DA9D7;
  $line-color--blue: #D5EEEE;

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif !important;
}

  .post_bar {
    max-width: 1280px;
  }
  





  
    
    

  