$line-color--light: #e7e7e9;
$line-color--dark: #747474;
$button-color-hover: #feefc3;
$button-color-remove: #ef7a70;
$main-color: #ffc715;
$list-color: #f0ede0;
$list-color-hover: #feefc3;
$link-color: #2da9d7;
$line-color--blue: #d5eeee;

.postTrip {
  .post_bar {
    max-width: 1280px;
  }
  .postLocateArticleRWD {
    display: none;
  }
}


// <<<<<<< HEAD
// =======
// .commentBar {
//   .commentBarRWD {
//     display: none;
//   }
// }

// >>>>>>> bug-fix
@media only screen and (max-width: 768px) {
  .postTrip {
    .postLocateArticleWeb {
      display: none;
    }
    .postLocateArticleRWD {
      display: block;
    }
  }

  // 地圖
  .communitymap_body {
    .communitymap_container {
      max-width: 340px;
      height: 300px;
      border-radius: 8px;
    }
  }
  // 推薦商品
  .recommandProduct {
    display: none;
  }
  // 評論
  .post_comment_list {
    .post__comment_list_title {
      font-size: 1.4rem;
      display: inline-block;
    }

    .post__comment_list_content {
      max-width: 345px;
    }
    .comment_descript_list {
      height: 120px;
      border-radius: 15px;
      padding: 10px 10px 10px 15px;
      .user_comment_photo {
        width: 75px;
        height: 75px;
      }
      .user_comment_text {
        width: 220px;
        font-size: 14px;
        margin-top: 5px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .user_comment_datetime {
        p {
          display: none;
        }
      }
    }
    .user_comment_name {
      font-size: 16px;
      font-weight: 600;
    }

    .user_comment_datetime {
      display: none !important;
    }

    .post_comment_list .post__comment_list_title {
      font-size: 1.4rem;
      display: inline-block;
    }

    .post_comment_list .comment_descript_list {
      height: 120px;
      border-radius: 15px;
      padding: 10px 10px 10px 15px;
    }
    .post_comment_list .comment_descript_list .user_comment_photo {
      width: 75px;
      height: 75px;
    }

    .post_comment_list .comment_descript_list .user_comment_name {
      font-size: 16px;
      font-weight: 600;
    }

    .post_comment_list .comment_descript_list .user_comment_text {
      width: 220px;
      font-size: 14px;
      margin-top: 5px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}
