$maincolor: #ffc715;
$supcolor: #feefc3;
$supbackcolor: #e7e7e9;

$sup_color: #eeb569;
$icon_color: #ef7a70;
$font-size: 1.2rem;
$font-weight: 700;
.boxsizing {
  width: 40%;
  .traveldrage_change {
    width: 730px;
    height: 590px;
    overflow: auto;
    position: relative;
    // left: 10px;
  }
}

.travel_drag_main_card {
  position: relative;
  padding: 3px 2px;
  left: 9px;
  opacity: 0.8;
  z-index: 1;
  width: 650px;

  .travelDrag_container {
    width: 730px;
    height: 590px;
    background: #eee;
    overflow: auto;
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  transition: 0.3s ease-in;
  animation: wrapper-gradient 0.4s linear;
  @keyframes wrapper-gradient {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .Travel_Drag_card_img {
    width: 100%;
    height: 120px;
    margin-top: -6.5px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .Travel_Drag_card-title {
    font-weight: 500;
  }

  .Travel_Drag_cardText {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    .Travel_DragNavbar_text {
      font-size: 1.3rem;
      font-weight: 700;
      // margin-left: 20px;
      display: -webkit-box; /*值必須為-webkit-box或者-webkit-inline-box*/
      -webkit-box-orient: vertical; /*值必須為vertical*/
      -webkit-line-clamp: 2; /*值為數字，表示一共顯示幾行*/
      overflow: hidden;
    }
    .travel_Dragmapicon {
      height: 2rem;
      line-height: 3rem;
      width: 20px;
      position: relative;
      top: 5px;
    }
  }

  .travel_Dragmaptitle {
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.Travel_Drag_card_placeName_text {
  display: inline-block;
  color: #2da9d7;
  background-color: #d5eeee;
  border-radius: 8px;
  padding: 2px 10px;
}

.Travel_Drag_trashIconn {
  background-color: $sup_color;
  border-radius: 8px;
  width: 90px;
  height: 2rem;
  color: white;
  cursor: pointer;
  svg {
    width: 1.25rem;
    height: 1.25rem;
    color: #ef7a70;
  }
  .Travel_Drag_cardNT {
    color: white;
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

.travleDrag_body {
  // padding-top: 30px;
  width: 40%;
  .travleDrag_menu {
    // margin-left: 40px;
    height: 893px;
    width: 100%;

    .travleDrag_header_top {
      // margin-left: 24px;
      height: 120px;
      // align-items: center;  TODO:看 編輯按鈕要在中間還上面
      justify-content: space-between;
      align-items: center;
      min-height: 48px;
      padding: 0 16px;
      color: #000;
      background-color: $supcolor;
      margin-bottom: 2rem;
      border-radius: 6px;
      position: relative;
      border: 1px solid transparent;

      &:hover {
        opacity: 0.9;
        border: 1px solid #d9d9d9;
        // transform: scale(1.1);
      }
    }
    .travleDrag_header_top_left {
      .travleDrag_header_back {
        // margin-top: 3px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
        .travleDrag_header_backIcon {
        }
        svg {
          color: #000;
          width: 45px;
          height: 45px;
        }
      }
      .travelDrage_input_title {
        border-width: 0px;
        background-color: $supcolor;
        border-bottom: #ccc 2px solid;
        position: relative;
        left: 50px;
        bottom: 10px;
        font-size: 30px;
        width: calc(100% - 45px);
        height: 34px;
        padding-bottom: 10px;
        font-weight: 400;
        word-wrap: break-word;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1;
      }
      input:focus {
        outline: none;
      }
      .travleDrag_header_tittle {
        font-size: 1.8rem;
        width: calc(400px - 10px);
        height: 34px;
        font-weight: 700;
        word-wrap: break-word;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1;
        padding-left: 50px;
      }
      .travleDrag_header_date {
        padding-left: 55px;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.5;
      }
    }
    .travleDrag_header_edit {
      // margin-top: 10px;
      border-radius: 8px;
      background-color: white;
      align-items: center;
      color: #000;
      font-size: 1.25rem;
      cursor: pointer;
      padding: 6px 8px;
      height: 32px;
      &:hover {
        color: #222;
        border-radius: 19px;
        box-shadow: 0 2px 4px 0rgba (0, 0, 0, 0.5);
        background-color: #e7e7e9;
      }
      .travleDrag_header_icon {
        display: inline-block;
        height: 20px;
        width: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-image: url('../../../images/Traveldragbrush.svg');
      }
    }
    .travleDrag_header_upImage {
      position: relative;

      top: 65px;
      left: 140px;
    }
    .travleDrag_header_upicon {
      cursor: pointer;
    }
    .travleDrag_day_container {
      // margin-left: 24px;
      width: 100%;
      height: 80px;
      border: $supbackcolor 1px solid;
      border-radius: 8px;
      margin-bottom: -10px;
      .travelDrage_Tab {
        margin: 10px 10px;
        font-size: 20px;
      }
      .css-1aquho2-MuiTabs-indicator {
        background-color: $maincolor;
        border: $maincolor 1.5px solid;
      }
      .MuiButtonBase-root {
        color: #000;
      }
    }

    .travleDrag_Main {
      border-radius: 8px;
      width: 730px;
      border: $supbackcolor 1px solid;
      .travelDrag_Options {
        &:hover {
          transform: translateY(-5px);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        }
        transition: 0.8s ease-in;
        animation: wrapper-gradient 0.3s linear;
        @keyframes wrapper-gradient {
          0% {
            transform: translateY(-100%);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
      .travelDrag_tittle {
        font-weight: 700;
        font-size: 1.3rem;
        align-items: center;
        display: flex;
        position: relative;
        bottom: 10px;

        .Travel_Drag_card_exit {
          border-radius: 8px;
          width: 100px;
          height: 100px;
        }
        // &::before {
        //   content: '';
        //   width: 35px;
        //   height: 25px;
        //   background: url('../../../images/TravelDragbluecar.png') no-repeat
        //     center / contain;
        //   //TODO: 用SVG圖繪掛掉 只能用PNG
        //   bottom: -35px;
        //   left: 85px;
        //   position: absolute;
        //   display: inline-block;
        // }
      }

      .travelDrag_container {
        width: 730px;
        height: 590px;
        background: #eee;
        overflow: auto;
        .edit_save_btn {
          width: 200px;
          background-color: #ef7a70;
          color: white;
          font-weight: 900;
          font-size: 18px;
          &:hover {
            // background-color: $sup_color;
            // font-weight: $font-weight;
            // font-size: $font-size;
          }
        }

        .travelDrag_container::-webkit-scrollbar {
          width: 1em;
        }
        .travelDrag_container::-webkit-scrollbar-button {
          background: #fff;
        }
        .travelDrag_container::-webkit-scrollbar-track-piece {
          background: #aaa;
        }

        .travelDrag_container::-webkit-scrollbar-corner {
          border: 1px solid red;
        }
        .travelDrag_container::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        .travelDrag_container::-webkit-scrollbar-thumb {
          background-color: white;
          border: 1px solid slategrey;
        }
      }
    }
  }
}
