.CommunityHomePage {
  // max-width: 1280px;
  background: linear-gradient(
    168deg,
    #ffffff 0%,
    #f7f7f7 29%,
    #fff7dc 40%,
    #fff0c0 40%,
    #fff 29%,
    #fff 0%
  );

  .CommunityHomePage_main {
    // display: flex;
    // flex-direction: column;
    max-width: 100vw;
  }
  .searchBarSection {
    background-image: url(../../images/home_tour_bg.png);
    height: 600px;
    position: relative;

    .searchBarSec {
      display: flex;
      flex-direction: column;
      max-width: 1280px;
      width: 100%;
      margin: 1rem auto;
    }
    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   background-image: linear-gradient(to bottom right, #FEEFC3, #FFC715);
    //   opacity: 0.3;
    // }
    .BGCircle1 {
      position: absolute;
      width: 360px;
      height: 360px;
      background-color: #feefc3;
      opacity: 0.8;
      border-radius: 50%;
      top: 13rem;
      left: 70rem;
      z-index: 1;
    }
    // .BGCircle2 {
    //   position: absolute;
    //   width: 280px;
    //   height: 280px;
    //   background-color: #b0eaff;
    //   opacity: 0.5;
    //   border-radius: 50%;
    //   top: 13rem;
    //   left: 64rem;
    // }
    .BGCircle3 {
      position: absolute;
      width: 40px;
      height: 40px;
      background-color: #ff9634b5;
      opacity: 0.5;
      border-radius: 50%;
      top: 10rem;
      left: 30rem;
    }
    .BGCircle4 {
      position: absolute;
      width: 70px;
      height: 70px;
      background-color: #ff8eb0b6;
      opacity: 0.5;
      border-radius: 50%;
      top: 20rem;
      left: 110rem;
    }
    .BGCircle5 {
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: #c0b3ff;
      opacity: 0.6;
      border-radius: 50%;
      top: 21rem;
      left: 14rem;
    }
    .BGCircle6 {
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: #6dffb1b9;
      opacity: 0.5;
      border-radius: 50%;
      top: 5rem;
      left: 98rem;
    }

    .mainSlogan1 {
      position: absolute;
      top: 15rem;
      left: 30rem;
      font-size: 60px;
      width: 460px;
    }
    .mainSlogan2 {
      position: absolute;
      top: 20rem;
      left: 35rem;
      font-size: 60px;
      width: 500px;
    }
    .slogan {
      position: absolute;
      top: 27rem;
      left: 33rem;
      font-size: 22px;
    }
    .SloganImg {
      position: absolute;
      top: 13rem;
      left: 72rem;
      width: 400px;
      height: auto;
      transform: scaleX(-1);
      z-index: 2;
    }

    .btnSection {
      position: absolute;
      top: 26.8rem;
      left: 53rem;
      button {
        border: none;
        border-radius: 15px;
        width: 100px;
        padding: 7px 10px;
        margin-right: 20px;
        background-color: #ffc715;
      }
    }
    .trip-import {
      background-color: red;
      position: absolute;
      left: calc((100vh - 1200px) / 2);
      transition: 0.5s;
      top: 50px;
      border-radius: 10px;
      z-index: 3;
      width: 400px;
      height: 150px;
      background-color: white;
      border: 3px solid #feefc3;
    }
  }
  .masonrySection {
    padding: 80px 240px 120px;
    // height: 500px;
    // background: linear-gradient(168deg, #f7f7f7 0%, #f7f7f7 29%, #caeac7 29%, #caeac7 57%, #fff 57%, #fff 100%);
  }
  .comHomeKOL_title {
    display: flex;
    width: 100%;
    // justify-content: center;
    margin: 60px 60px;
    font-size: 40px;
    color: #ef7a70;
    font-weight: 900;
    padding-bottom: 20px;
  }
  .comHomeHot_title {
    font-size: 36px;
    color: #ef7a70;
    font-weight: 900;
    padding-bottom: 20px;
  }
  .comHomeNew_title {
    font-size: 36px;
    color: #ef7a70;
    font-weight: 900;
    padding-bottom: 20px;
  }

  .comHome_newPost_newPost_card {
    background-color: #fff;
    width: 390px;
    height: calc(100% - 30px);
    border: 1px solid rgb(224, 224, 224);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.08);
    .obj-fit {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &_title {
      h5 {
        display: -webkit-box;
        font-size: 18px;
        line-height: 1.35;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
      }
    }
    &_author {
      font-size: 16px;
    }
    &_like {
      font-size: 16px;
    }
    .comHome_newPost_card_heart {
      svg {
        font-size: 20px;
        color: #ef7a70;
      }
    }
  }
  .appear {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .CommunityHomePage {
    .searchBarSection {
      height: 170px;
    }
    .masonrySection {
      padding: 0;
    }
    .disappear {
      display: none;
    }

    .appear {
      display: block;
    }
  }
}
